{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class = "container">
    <div class = "column">
        <div class = "judul">
            <h1><strong>To stay connected:</strong></h1>
        </div>
    </div>
        <div class = "contact">
            <table>
                <tr>
                    
                    <th><img src = "{% static 'line-logo-png-6.png' %}"width="90px"></th>
                    <td>@mmarandime</td>
                </tr>
                <tr>
                    <th><img src = "{% static '34067.png' %}"width="90px"></th>
                    <td>087874866828</td>
                </tr>
                <tr>
                    <th><img src = "{% static 'email-icon-png-mail-black-envelope-symbol-free-icon-512.png' %}" width="90px"></th>
                    <td>efendimarandi@gmail.com</td>
                </tr>
            </table>
            
        </div>
    <div class = garis>
            
        </div>
</div> 
{% endblock content %}

