{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class = "judul">
    <h1>Skills</h1>
</div>
<div class = "bar">
    <p>Programming</p>
    <div class="container">
        <div class="skills Programming"></div>
    </div>
        
    <p>Communication</p>
    <div class="container">
        <div class="skills Communication"></div>
    </div>
        
    <p>Technology</p>
    <div class="container">
        <div class="skills Technology"></div>
    </div>
        
    <p>Social</p>
    <div class="container">
        <div class="skills Social"></div>
    </div>

    <p>Responsibility</p>
    <div class="container">
        <div class="skills Responsibility"></div>
    </div>

    <p>Flexibility</p>
    <div class="container">
        <div class="skills Flexibility"></div>
    </div>

    <p>Time Management</p>
    <div class="container">
        <div class="skills Management"></div>
    </div>

    <p>English</p>
    <div class="container">
        <div class="skills English"></div>
    </div>
    <div class="garis">
            
    </div>
</div>
{% endblock content %}
    