@import url("https://fonts.googleapis.com/css?family=Montserrat:500|Roboto+Mono:300|Roboto:100i&display=swap");

* {box-sizing: border-box}
body{
    margin : 0;
    padding : 0;
    background-color: #F6F5F3
}
.judul h1{
    font-family: "Roboto Mono",sans-serif;
    font-style: "regular";
    font-size: 45px;
    color: #3D3D3F;
    padding-left: 21%;
    justify-items: center;
}
.bar p{
    font-family: "Montserrat", sans-serif;
    font-style : "Light";
    font-weight: 300;
    font-size: 19px;
    
    color: #3D3D3F;
}
.bar{
    padding-left :21%;
    padding-right: 21%;
    padding-bottom:10%;
} 

.container {
  width: 100%;
  background-color: #AFAFAF;
}

.skills {
  text-align: right;
  padding-top: 6px;
  padding-bottom: 6px;
}
a{
    font-family: "Montserrat", sans-serif;
    font-weight : 500;
    font-size :  18px;
    line-height : 22px
}
nav{
    list-style: none;    
    padding-left: 1%; 
    
}
nav li{
    display: inline-block;
    padding: 0px 20px;
}
nav li a {
    transition: all 0.3s ease 0s;
    display: block;
    text-decoration: none;
}
nav li a:hover{
    color:#7dce94
}
nav a{
    color:#3D3D3F

}
header {
    display : flex;
    align-items: center;
    
}
.garis{
    display: flex;
    position: absolute;
    width: 333px;
    height: 0px;
    left: 400px;
    top: 800px;
    border: 2px solid #3D3D3F;  
    transform: rotate(-0.14deg); 
}

.Programming {width: 35%; background-color: #3D3D3F;}
.Communication {width: 40%; background-color: #3D3D3F;}
.Technology {width: 50%; background-color: #3D3D3F;}
.Social {width: 60%; background-color: #3D3D3F;}
.Responsibility {width: 70%; background-color: #3D3D3F;}
.Flexibility {width: 65%; background-color: #3D3D3F;}
.Management {width: 75%; background-color: #3D3D3F;}
.English {width: 48%; background-color: #3D3D3F;}

@media only screen and (max-width: 375px){
    .garis{
        display: none;
        
    }
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        
        color:#3d3d3f;
        font-size: 20px;
        padding-top: 100%;
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
       
    }
    nav.active ul{
        display:flex;
        flex-direction: column;
        border: #7dce94;

    }
    header {
        display : flex;
        align-items: center;
        padding-top:30px;
        padding-left: 5%; 
    }
    .judul h1{
        font-size: 30px;
    }
    .bar p{
        font-size:15px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 376px){
    header {
        display : flex;
        padding-top:30px;
        padding-left: 5%; 
    }
    .garis{
        left: 163px;
        top: 930px;
        border: 1px  solid #3D3D3F; 
    }
    .bar p{
        font-size: 19px;
    }
    .judul h1{
        font-size: 40px;
        margin-bottom: 8%;
    }
}
@media only screen and (max-width: 645px){
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        
        color:#3d3d3f;
        font-size: 20px;
        padding-top: 100%;
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
       
    }
    nav.active ul{
        display:flex;
        flex-direction: column;
        border: #7dce94;

    }
    header {
        display : flex;
        align-items: center;
        padding-top:30px;
        padding-left: 5%; 
    }
}