@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,500&display=swap");

body{
    margin : 0;
    padding : 0;
    background-color: #F6F5F3
}
a{
    font-family: "Montserrat", sans-serif;
    font-weight : 500;
    font-size :  18px;
    line-height : 22px
}
nav{
    list-style: none;    
    padding-left: 1%;  
}
nav li{
    display: inline-block;
    padding: 0px 20px;
}
nav li a {
    transition: all 0.3s ease 0s;
    display: block;
    text-decoration: none;
}
nav li a:hover{
    color:#7dce94
}
nav a{
    color:#3D3D3F

}
header {
    display : flex;
    align-items: center;
    
}
.foto{
    padding-left: 12%;
    width: 252.29px;
    height: 247.81px;
    
    
}
.about{
    display: flex;
    flex-direction: column;
    
}
.nama{
    display: flex;
    justify-content: center;
    font-family: "Montserrat",sans-serif;
    font-style: italic;
    font-size: 35px;
    line-height: 88px;
    color: #3D3D3F;

}
.isiAbout{
    padding-left: 4%;
    display:flex;
    flex-direction: row;
    margin: auto;
    width : 1200px;
    height : 241px;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 29px;
    color: #3D3D3F;


}
.garis{
    display: flex;
    position: absolute;
    width: 333px;
    height: 0px;
    left: 400px;
    top: 800px;
    border: 2px solid #3D3D3F;  
    transform: rotate(-0.14deg);
}

@media only screen and (max-width: 375px){
    .nama{
        font-family: "Montserrat",sans-serif;
        font-style: italic;
        font-size: 14px;
        color: #3D3D3F;
    }
    .isiAbout{
       display:flex; 
       flex-direction: column-reverse;
       margin:auto;
       width : 375px;
       font-family: "Montserrat",sans-serif;
       font-style: normal;
       font-size: 12px;
       
       color: #3D3D3F;
       padding-top:80%;
       justify-content: flex-start;
    }
    .about{
        display: flex;
        flex-direction: column;


    }
    .foto{ 
        width: 172.29px;
        height: 167.81px;
        padding-left: 26%;

    }
    .garis{
        display: none;
        
    }
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        
        color:#3d3d3f;
        font-size: 20px;
        padding-top: 100%;
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
       
    }
    nav.active ul{
        display:flex;
        flex-direction: column;
        border: #7dce94;

    }
    header {
        display : flex;
        align-items: center;
        padding-top:30px;
        padding-left: 5%; 
    }
}
@media only screen and (max-width: 768px) and (min-width: 376px){
    header {
        display : flex;
        padding-top:30px;
        padding-left: 5%; 
    }
    .nama{
        font-family: "Montserrat",sans-serif;
        font-style: italic;
        font-size: 18px;
        color: #3D3D3F;
    }
    .isiAbout{
        font-size: 13px;
        width: 768px;
    }
    .foto{ 
        width: 182.29px;
        height: 177.81px;
        padding-top: 10%;
        padding-right: 5%;
    }
    .garis{
        left: 35px;
        top: 715px;
        border: 1px  solid #3D3D3F; 
    }
}
@media only screen and (max-width: 645px){
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        
        color:#3d3d3f;
        font-size: 20px;
        padding-top: 100%;
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
       
    }
    nav.active ul{
        display:flex;
        flex-direction: column;
        border: #7dce94;

    }
    header {
        display : flex;
        align-items: center;
        padding-top:30px;
        padding-left: 5%; 
    }
}

    
