@import url("https://fonts.googleapis.com/css?family=Montserrat:500|Roboto+Mono:300|Roboto:100i&display=swap");

body{
    margin : 0;
    padding : 0;
    background-color: #F6F5F3

}
a{
    font-family: "Montserrat", sans-serif;
    font-weight : 500;
    font-size :  18px;
    line-height : 22px
}
.navbar{
    list-style: none;    
}
.navbar li{
    display: inline-block;
    padding: 0px 20px;
}
.navbar li a {
    transition: all 0.3s ease 0s;
    display: block;
    text-decoration: none;
}
.navbar li a:hover{
    color:#7dce94
}
.navbar a{
    color:#3D3D3F
    
}
header {
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding :30px 10%; 
}
.foto img{
    width: 90px;
    padding-left: 160%;
}
.contact{
    display: flex;
    flex-direction: row;
}
.tulisan{
    display:flex;
    flex-direction: column;
    margin: auto;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-size: 35px;
    line-height: 20px;
    color: #3D3D3F;
    padding-right: 25%;
}
.judul{
    font-family: "Roboto Mono", sans-serif;
    font-style: "regular";
    font-size:  28px;
    color: #3D3D3F;
    margin: auto;
    padding-left: 21%;
    padding-bottom: 5%;
    padding-top :3%;
    

}
.garis{
    display: flex;
    position: absolute;
    width: 333px;
    height: 0px;
    left: 400px;
    top: 800px;
    border: 2px solid #3D3D3F;  
    transform: rotate(-0.14deg);
    
}
.foto
    padding-left: 150%;
}
